/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff8800;
  --ifm-color-primary-dark: #e67a00;
  --ifm-color-primary-darker: #d97400;
  --ifm-color-primary-darkest: #b35f00;
  --ifm-color-primary-light: #ff941a;
  --ifm-color-primary-lighter: #ff9a26;
  --ifm-color-primary-lightest: #ffac4d;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fb931f;
  --ifm-color-primary-dark: #f98604;
  --ifm-color-primary-darker: #eb7e04;
  --ifm-color-primary-darkest: #c26803;
  --ifm-color-primary-light: #fba03b;
  --ifm-color-primary-lighter: #fca749;
  --ifm-color-primary-lightest: #fcbb72;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
